/* GLOBAL STYLES
-------------------------------------------------- */

/* Padding below the footer and lighter body text */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* NAVBAR STYLES
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;

	/* Flip around the padding for proper display in narrow viewports */
	.container {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar {
		padding-left: 15px;
		padding-right: 15px;

		.container {
			width: auto;
		}
	}
}



/* CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 60px;

	/* set carousel items height */
	.item {
		height: 500px;
		background-color: #777;

		/* carousel item bg image style */
		img {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
			height: 500px;
		}

		/* position carousel caption */
		.carousel-caption {
			z-index: 10;
		}
	}

	/* set background for slides */
	.carousel-slide-one {
		background-image: url("http://www.seriouswheels.com/pics-2015/bc/2015-Bugatti-Vision-Gran-Turismo-Studio-1-1920x1200.jpg");
		background-size: cover;
		background-position: 50% 50%;
	}
	.carousel-slide-two {
		background-image: url("http://www.seriouswheels.com/pics-2015/bc/2015-Bugatti-Vision-Gran-Turismo-Interior-4-1920x1200.jpg");
		background-size: cover;
		background-position: 50% 50%;
	}
	.carousel-slide-three {
		background-image: url("http://www.seriouswheels.com/pics-2015/bc/2015-Bugatti-Vision-Gran-Turismo-Construction-6-1920x1200.jpg");
		background-size: cover;
		background-position: 50% 50%;
	}
}



/* SECONDARY PAGE NAV
-------------------------------------------------- */
.secondaryPageNav {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #e7e7e7;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	margin-bottom: 50px;

	.container-fluid {
		padding: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.navbar-nav {
		li {
			float: left;
		}
	}

	&[data-position="staticNav"] {
		position: static;
	}
	&[data-position="fixedNav"] {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 30;
		width: 100%;

		.container-fluid {
			padding: 0 15px;
		}
	}
}



/* FEATURETTE
-------------------------------------------------- */

/* Space out featurettes */
.featurette-divider {
	margin: 80px 0;
}

/* Thin out marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}



/* CONTACT US
-------------------------------------------------- */




/* BACK TO TOP BUTTON
-------------------------------------------------- */
#backToTop {
	position: fixed;
	right: 20px;
	background: #fff;
	padding: 8px 10px;
	border-radius: 6px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	transition: all 1s ease;

	.backToTop-control {
		font-size: 30px;
		line-height: 1;
	}

	&[data-visibility="showMe"] {
		bottom: 20px;
	}
	&[data-visibility="hideMe"] {
		bottom: -100px;
	}
}



/* RESPONSIVE STYLES - MIN-WIDTH: 768PX
-------------------------------------------------- */

@media (min-width: 768px) {

	/* RESPONSIVE STYLES
	   - NAVBAR
	------------------ */

	/* Navbar positioning */
	.navbar-wrapper {
		margin-top: 20px;

		.container {
			padding-left: 15px;
			padding-right: 15px;
		}

		.navbar {
			padding-left: 0px;
			padding-right: 0px;

			/* The navbar becomes detached from the top, so we round the corners */
			border-radius: 4px;
		}
	}

	/* RESPONSIVE STYLES
	   - CAROUSEL
	------------------ */

	/* Increase size of carousel content */
	.carousel-caption p {
		margin-bottom: 20px;
		font-size: 21px;
		line-height: 1.4;
	}

	/* RESPONSIVE STYLES
	   - SECONDARY NAV
	------------------ */
	.secondaryPageNav[data-position="fixedNav"] {
		.container-fluid {
			width: 750px;
		}
	}

	/* RESPONSIVE STYLES
	   - FEATURETTE
	------------------ */

	.featurette-heading {
		font-size: 50px;
	}

} /*** /@media (min-width: 768px) { */



/* RESPONSIVE STYLES - MIN-WIDTH: 992PX
-------------------------------------------------- */

@media (min-width: 992px) {

	/* RESPONSIVE STYLES
	   - SECONDARY NAV
	------------------ */
	.secondaryPageNav[data-position="fixedNav"] {
		.container-fluid {
			width: 970px;
		}
	}

	/* RESPONSIVE STYLES
	   - FEATURETTE
	------------------ */

	.featurette-heading {
		margin-top: 120px;
	}

} /*** /@media (min-width: 992px) { */



/* RESPONSIVE STYLES - MIN-WIDTH: 1200PX
-------------------------------------------------- */

@media (min-width: 1200PX) {

	/* RESPONSIVE STYLES
	   - SECONDARY NAV
	------------------ */
	.secondaryPageNav[data-position="fixedNav"] {
		.container-fluid {
			width: 1170px;
		}
	}

} /*** /@media (min-width: 1200PX) { */